[submodule "lain"]
	path = lain
	url = git://github.com/copycat-killer/lain.git

[submodule "freedesktop"]
	path = freedesktop
	url = git://github.com/copycat-killer/awesome-freedesktop.git
[submodule "cyclefocus"]
	path = cyclefocus
	url = https://github.com/blueyed/awesome-cyclefocus
